* { 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    list-style-type: none;
    } 

$colheader: #f6f2f2;
$colmenu: #313030;
$coltext: #e0e0e0;
$colli: #ff3f40;

.first {
    background: $colheader;
    position: fixed;

}

.menu {
    background:$colmenu;
    width: 1250px;
    height: 90px;
    position: relative;
    top: 29px;
    margin: 0px 150px 0px 150px;
    display: flex;
    justify-content: center;
    
}

.menuUl {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: calc(100%/3);
    height: 100%;
    color: $coltext;
    font-size: 14px;
    a {
        text-decoration: none;
        color: $coltext;
    }
    & li {
        height: 100%;
        width: 100;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    & li:hover {
        background: $colli;
        
    }

}