* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: 'Open Sans', sans-serif; }

.first {
  background: #f6f2f2;
  padding-top: 29px; }

.conteiner1 {
  max-width: 1250px;
  width: 90%;
  margin: 0 auto; }

.menu {
  background: #313030;
  height: 90px;
  display: flex;
  justify-content: center; }

.menuUl {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: calc(100%/3);
  height: 100%;
  color: #e0e0e0;
  font-size: 14px;
  text-transform: uppercase; }
  .menuUl a {
    text-decoration: none;
    color: #e0e0e0; }
  .menuUl li {
    height: 100%;
    width: 100;
    display: flex;
    justify-content: center;
    align-items: center; }
  .menuUl li:hover {
    background: #ff3f40; }

.previeOrg {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 110px 0px;
  align-items: center; }
  .previeOrg h1 {
    color: #000000;
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .previeOrg h3 {
    color: #a5a2a2;
    font-size: 16px;
    margin-bottom: 50px; }
  .previeOrg a {
    text-decoration: none;
    color: #ffffff; }
  .previeOrg button {
    width: 225px;
    height: 55px;
    font-size: 18px;
    background: #ff3f40;
    font-weight: bold;
    border-radius: 10px; }

.previeOrg__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%; }

.previeOrg__video {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  .previeOrg__video iframe {
    box-shadow: 0px -5px 15px 18px #dcd8d8; }

.second {
  padding-top: 110px;
  background: #ffffff; }

.providetxt button {
  width: 225px;
  height: 55px;
  font-size: 18px;
  background: #ffffff;
  font-weight: bold;
  border-radius: 10px; }
.providetxt h3 {
  font-size: 16px;
  color: #333333; }
.providetxt h1 {
  font-size: 42px;
  text-transform: uppercase;
  font-weight: bold;
  color: #333333; }
.providetxt a {
  text-decoration: none;
  color: #ff3f40; }

.providetxt, .provid {
  width: 50%; }

.conteiner2 {
  max-width: 1250px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row; }

.provid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 90px; }

.providetxt {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  word-wrap: break-word;
  justify-content: space-around; }

.withlogos {
  font-size: 24px;
  font-weight: 600;
  color: #4c4c4c;
  padding: 30px 0px 20px 0px; }

.withlogos::after {
  content: "Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eiusmod btdempor in didunt utlae ore etioe. Lorem ipsum new idolor";
  display: block;
  width: 290px;
  height: 130px;
  font-size: 16px;
  color: #4c4c4c;
  font-weight: 300;
  margin-top: 20px; }

.withlogos::before {
  content: "";
  margin-bottom: 30px;
  display: block;
  width: 41px;
  height: 40px;
  background: url(../logo/cont2.png); }

.logo2::before {
  background-position: -87px; }

.logo3::before {
  background-position: -129px;
  width: 39px; }

.logo4::before {
  background-position: -41px;
  width: 47px; }

.bolid {
  height: 3px;
  max-width: 1250px;
  width: 90%;
  margin: 0 auto;
  border: 2px solid #ececec; }

.third {
  padding-top: 110px;
  background: #ffffff;
  color: #000000; }

.conteiner3 {
  max-width: 1250px;
  width: 90%;
  margin: 0 auto; }

.h1conteiner3 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center; }
  .h1conteiner3 h1 {
    font-size: 42px;
    text-transform: uppercase;
    color: #333333;
    padding-bottom: 30px; }
  .h1conteiner3 div {
    font-size: 16px;
    color: #7c7c7c;
    text-align: center;
    width: 517px;
    padding-bottom: 30px; }

.bolidinthird {
  height: 3px;
  max-width: 130px;
  width: 90%;
  margin: 0 auto;
  border: 2px solid #ff2d2d; }

.menuInThird {
  padding-bottom: 65px;
  padding-top: 85px; }

.menuUlInThird {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  font-size: 22px;
  text-transform: uppercase;
  list-style-type: none;
  font-weight: 600; }
  .menuUlInThird a {
    text-decoration: none;
    color: #4c4c4c; }
  .menuUlInThird a:hover {
    color: #ff2d2d; }

.clastersVideos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }

.videoThird {
  width: 295px;
  height: 290px;
  background: #f5f0dd;
  margin-right: 17px;
  margin-bottom: 9px; }

.fourth {
  margin-top: 130px;
  background: #ffffff;
  color: #000000;
  margin-bottom: 110px; }

.conteiner4 {
  max-width: 1250px;
  width: 90%;
  margin: 0 auto; }
  .conteiner4 .h1conteiner4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    .conteiner4 .h1conteiner4 h1 {
      font-size: 46px;
      color: #333333;
      font-weight: 600;
      margin-left: -12px; }
    .conteiner4 .h1conteiner4 div {
      font-size: 16px;
      color: #4c4c4c;
      width: 450px;
      text-align: justify;
      margin-top: 45px; }

.bolidInFouth {
  height: 3px;
  max-width: 130px;
  width: 90%;
  border: 2px solid #ff2d2d;
  margin-top: 36px;
  margin-bottom: 70px; }

.personal {
  display: flex;
  flex-direction: row; }

.personalMain {
  width: calc(1250px/4);
  height: 460px;
  margin-right: 75px;
  background: #f5f0dd; }

.personalTxtAnother {
  display: flex;
  flex-direction: column; }

.personalTxt {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-around; }
  .personalTxt h1 {
    font-size: 30px;
    font-weight: 600;
    color: #333333;
    text-transform: uppercase; }
  .personalTxt div {
    font-size: 16px;
    color: #4c4c4c; }
  .personalTxt ul {
    display: flex;
    flex-direction: row;
    width: 56%;
    font-size: 18px;
    justify-content: space-between;
    font-style: italic; }
    .personalTxt ul a {
      text-decoration: none;
      color: #4c4c4c; }

.personalAnother {
  display: flex;
  flex-direction: row;
  height: 50%;
  align-items: flex-end; }

.personalAnotherG {
  width: 195px;
  height: 215px;
  background: #f5f0dd;
  order: 1;
  display: flex; }
  .personalAnotherG:not(:last-child) {
    margin-right: 20px; }
  .personalAnotherG:hover::after {
    content: "sokina jue";
    color: #ffffff;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    height: 37px;
    font-size: 18px;
    width: 100%;
    background: #7a786e;
    order: 2;
    display: flex;
    position: relative;
    top: 177px; }

.fifth {
  background: #f5f0dd;
  color: #fdfcf8;
  height: 512px;
  margin-bottom: 100px; }

.conteinerFifth {
  max-width: 1250px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-evenly; }

.h1Fifth {
  font-size: 42px;
  font-weight: bold;
  color: #fdfcf8; }

.divFifth {
  font-size: 16px;
  color: #fdfcf8; }

.sixth {
  color: #fdfcf8;
  color: #333333; }

.conteinerSixth {
  max-width: 1250px;
  width: 90%;
  margin: 0 auto; }

.h1_div_Sixth {
  display: flex;
  flex-direction: column;
  width: 730px; }
  .h1_div_Sixth .h1_Sixth {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 50px;
    text-transform: uppercase; }
  .h1_div_Sixth .div_Sixth {
    font-size: 16px;
    color: #7c7c7c;
    margin-bottom: 55px; }

.bolidInSixth {
  width: 130px;
  height: 3px;
  max-width: 130px;
  width: 90%;
  border: 2px solid #ff2d2d;
  margin-bottom: 80px; }

.lastC {
  margin-bottom: 110px; }

.conteinerLast {
  display: flex;
  flex-direction: row;
  max-width: 1250px;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between; }

.mainInput {
  width: 720px;
  height: 250px;
  padding-left: 60px;
  background: #e5e5e5; }

.oneofInput {
  width: 340px;
  height: 70px;
  margin-bottom: 45px;
  background: #e5e5e5;
  padding-left: 60px; }
  .oneofInput:not(:last-child) {
    margin-right: 36px; }

.backMessage {
  display: flex;
  flex-direction: column; }

.ourContact {
  width: 575px;
  height: 365px;
  background: #2d2d2d; }

.footer {
  background: #313030; }

.menuFoo {
  height: 110px; }

/*# sourceMappingURL=style.css.map */
